/* ==========================================================================
   Custom app styles
   ========================================================================== */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Scroll */
* {
  scroll-behavior: smooth;
}

/* Layout */
/* 2 cols */
.row {
  display: flex;
  padding: 100px 0;
  flex-wrap: wrap;
}
.column {
  flex: 100%;
}
.column20 {
  flex: 20%;
}
.column40 {
  flex: 40%;
}
.column50 {
  flex: 50%;
}
.row > div[class*="column"] .row {
  padding: 0;
}

/* Container */
.container {
  margin: 0 auto;
  /* max-width: 1200px; */
  max-width: 1325px;
  width: 100%;
}
.container.header-container {
  max-width: calc(1200px + 17em);
}
.container.mobile-header-container {
  display: none;
}

/* Typography */
h1 {
  font: normal normal bold 48px/57px ITC Avant Garde Gothic Pro;
  color: #19293a;
  margin: 1em 0;
}
h1 span {
  display: block;
  color: #506473;
}
h2 {
  font: normal normal bold 48px/57px ITC Avant Garde Gothic Pro;
  color: #19293a;
  margin: 0.5em 0;
}
p {
  font: normal normal normal 21px/38px Open Sans;
  color: #506473;
}
a.link {
  font: normal normal 600 20px/27px Open Sans;
  color: #19293a;
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-out, text-underline-offset 0.5s,
    text-decoration-color 0.2s;
}
a.link:after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c0345e;
  transition: bottom 0.2s ease-out;
}
a.link:hover {
  color: #c0345e;
}
a.link:hover:after {
  bottom: -0.6em;
}

/* Header */
body.scroll-up #header {
  transform: none;
  background: #fff;
}
body.scroll-up #navigation a {
  color: #19293a;
}
body.scroll-up #navigation a:after {
  background: #c0345e;
}
body.scroll-down #header {
  transform: translate3d(0, -100%, 0);
}
#header {
  height: 100px;
  padding: 32px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s ease-out;
}
.header-logo {
  display: inline-block;
  width: 200px;
}
#logo {
  width: 100%;
  height: auto;
}

/* Navigation */
#navigation {
  float: right;
  padding: 34px 0;
}
#navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navigation ul li {
  display: inline;
  margin-right: 65px;
  padding-bottom: 5px;
}
#navigation ul li:last-child {
  margin-right: 0;
}
#navigation ul li a {
  text-decoration: none;
  font: normal normal 600 20px/27px Open Sans;
  color: #ffffff;
  position: relative;
}
#navigation ul li a:after,
#mobile-navigation ul li a:after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
#navigation ul li a:hover:after,
#mobile-navigation ul li a:after {
  opacity: 1;
}
#navigation ul li.active a:after,
#mobile-navigation ul li a:after {
  opacity: 1;
}

/* mobile navigation */
#mobile-navigation {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #c0345e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out, left 1s ease-in-out;
}
#mobile-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#mobile-navigation li {
  margin-bottom: 32px;
}
#mobile-navigation li a {
  font: normal normal 600 52px/72px Open Sans;
  text-decoration: none;
  color: white;
}

#mobile-navigation li.isActive:after {
  visibility: visible;
  width: 100%;
}

.closed #mobile-navigation {
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: left 1s ease-in-out, visibility 0s 1s, opacity 1s ease-in-out;
}

#hamburger-icon {
  z-index: 3;
  position: relative;
  float: right;
  margin: 20px 0;
  width: 40px;
  height: 25px;
  border-radius: 0px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hamburger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* hamburger open */
#hamburger-icon span:nth-child(1),
#hamburger-icon span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#hamburger-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.closed #hamburger-icon span {
  background: #19293a;
}
.closed #hamburger-icon span:nth-child(1) {
  top: 0px;
}

.closed #hamburger-icon span:nth-child(4) {
  top: 20px;
}

.closed #hamburger-icon span:nth-child(1),
.closed #hamburger-icon span:nth-child(4) {
  width: 100%;
  left: 0;
}

.closed #hamburger-icon span:nth-child(2),
.closed #hamburger-icon span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Vertical navigation */
.vertical-nav h5 {
  font: normal normal bold 21px/38px ITC Avant Garde Gothic Pro;
  letter-spacing: 2.1px;
  color: #19293a;
  text-transform: uppercase;
  margin: 2em 0 1em 0;
}
.vertical-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.vertical-nav ul li a {
  font: normal normal 600 21px/58px Open Sans;
  letter-spacing: 0.53px;
  color: #506473;
  text-decoration: none;
  position: relative;
}
.vertical-nav ul li a:after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translate(0, -50%);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #506473;
  color: #fff;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.vertical-nav ul li a:hover:after {
  opacity: 1;
}

/* Content blocks */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* HERO section */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  height: 100vh;

  background-image: url(../img/Spaniel01_gradient.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% auto;
}
.hero-image {
  display: none;
}
h3.hero-tagline {
  text-transform: uppercase;
  font: normal normal 600 16px/72px Open Sans;
  letter-spacing: 0.8px;
  color: #c0345e;
  opacity: 0.75;
  margin: 0;
  padding: 0;
}
.hero-content,
.services-content {
  padding-right: 14em;
}
.hero-content p,
.services-content p {
  margin-bottom: 3em;
}

/* SERVICES section */
#services {
  background: #edeff1;
}

/* WORK section */
.work-swiper-filter ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
  border-bottom: 1px solid #506473;
}
.work-swiper-filter ul li {
  display: inline-block;
  width: 190px;
  font: normal normal normal 20px/27px Open Sans;
  color: #19293a;
  padding: 7px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.work-swiper-filter ul li:after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c0345e;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.work-swiper-filter ul li.active {
  font-weight: bold;
}
.work-swiper-filter ul li.active:after {
  opacity: 1;
}

#work-swiper
/* ,#cstudies-swiper  */ {
  /* max-width: 1200px; */
  max-width: 1325px;
  width: 100%;
}

#cstudies-swiper {
  width: 100%;
  max-width: 100vw;
  position: absolute;
  left: 0;
}

#work-swiper .swiper-slide {
  height: 420px;
  width: auto;
  border-radius: 10px;
}
#work-swiper .non-swiper-slide {
  display: none;
}
#work-swiper .slide-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#work-swiper .slide-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#work-swiper .slide-wrapper .imgOverlay {
  background: transparent linear-gradient(180deg, #19293a1a 0%, #19293a 100%) 0%
    0% no-repeat padding-box;
  height: 100%;
  width: 100%;
  /* opacity: 0.6; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.4s ease-out;
}

#work-swiper .slide-wrapper:hover .imgOverlay {
  opacity: 1;
}
#work-swiper .slide-text {
  position: absolute;
  z-index: 2;
  bottom: -100%;
  transition: bottom 0.4s ease-out;
  color: #fff;
  padding: 36px;
}

#work-swiper .slide-wrapper:hover .slide-text {
  bottom: 0;
}

#work-swiper .slide-text h4,
#cstudies-swiper .slide-text h4 {
  font: normal normal bold 24px/36px ITC Avant Garde Gothic Pro;
  margin: 0.5em 0;
  color: #ffffff;
}

#work-swiper .slide-text p,
#cstudies-swiper .slide-text p {
  font: normal normal normal 18px/27px Open Sans;
  color: #ffffff;
  margin-bottom: 2em;
}

#work-swiper .slide-text a,
#cstudies-swiper .slide-text a {
  color: #ffffff;
}

#work-swiper .slide-text a:after,
#cstudies-swiper .slide-text a:after {
  background: #ffffff;
}

#work-swiper .swiper-navigation-wrapper {
  position: relative;
  height: 100px;
  height: 70px;
  margin-top: 50px;
}
#work-swiper .swiper-navigation-wrapper .link {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#work-swiper .swiper-button-next {
  right: 0;
}

#work-swiper .swiper-button-prev {
  left: unset;
  right: calc(64px + 32px);
}

#work-swiper .swiper-button-next,
#work-swiper .swiper-button-prev,
#cstudies-swiper .swiper-button-next,
#cstudies-swiper .swiper-button-prev {
  background: #19293a;
  height: 64px;
  width: 64px;
  color: white;
  margin-top: 0;
  transform: translate(0, -50%);
}
#work-swiper .swiper-button-next:after,
#work-swiper .swiper-button-prev:after {
  font-size: 24px;
}

#work-swiper .swiper-button-next.swiper-button-disabled,
#work-swiper .swiper-button-prev.swiper-button-disabled {
  background: #50647380;
  color: #506473;
}

/* Case studies section */
.case-studies {
  padding: 0;
}
.case-studies .intro h2,
.case-studies .intro p {
  text-align: center;
}

.case-studies .intro p {
  width: 60%;
  margin: 0 auto 70px auto;
}

#cstudies-swiper .swiper-slide {
  height: 580px;
  width: auto;
  border-radius: 10px;
}

#cstudies-swiper .swiper-slide {
  height: 580px;
  width: 100%;
  border-radius: 10px;
}

#cstudies-swiper .slide-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#cstudies-swiper .slide-wrapper img {
  z-index: 1;
  float: left;
  position: relative;
}

#cstudies-swiper .slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  position: absolute;
  /* z-index: -1; */
  top: 50%;
  transform: translate(0, -50%);
  height: 70%;
  width: 25%;
  right: 1px;
  background: #19293a;
  color: #fff;
  padding: 36px 36px 36px 72px;
}

#cstudies-swiper .swiper-navigation-wrapper {
  position: absolute;
  /* height: 100%; */
  width: calc(100% / 1.5 - 20px);
  bottom: calc(15%);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

#cstudies-swiper .swiper-button-next {
  background: white;
  color: #19293a;
  right: 0;
}

#cstudies-swiper .swiper-button-prev {
  background: #a7b1b8;
  color: #506473;
  left: unset;
  right: 64px;
}

#cstudies-swiper .swiper-button-next,
#cstudies-swiper .swiper-button-prev {
  transform: translate(0, 0);
  top: unset;
  bottom: calc(15% - 36px);
}

#cstudies-swiper .swiper-slide.swiper-slide-prev img {
  float: right;
}

/* Footer */
#footer {
  background: #edeff1;
}

.content.footer-content {
  height: 100%;
}

.vertical-nav.contact-us li {
  margin-bottom: 1em;
}

.vertical-nav.contact-us li a {
  display: block;
}

.vertical-nav.contact-us li span {
  display: block;
  font: normal normal normal 21px/32px Open Sans;
  letter-spacing: 0.53px;
}

.footer-bottom {
  padding: 1em 0;
  justify-content: space-between;
}
.footer-bottom p {
  color: #50647380;
  font: normal normal 600 21px/32px Open Sans;
  letter-spacing: 0.53px;
}

.footer-bottom .socials {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.footer-bottom .socials li {
  display: inline;
  margin-right: 32px;
}

.footer-bottom .socials li:last-child {
  margin-right: 0;
}

.footer-bottom .socials a {
  text-decoration: none;
  color: #50647380;
  transition: color 0.3s ease-out;
}

.footer-bottom .socials a:hover {
  color: #c0345e;
}

.footer-bottom .socials .fab {
  font-size: 32px;
}

/* Media Queries */

/* Desktop */
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }
  #work-swiper,
  #cstudies-swiper {
    max-width: 1000px;
  }
}
/* Laptop */
@media screen and (max-width: 1140px) {
  .container {
    width: 95%;
  }
}
/* Tablet */
@media screen and (max-width: 768px) {
  /* layout */
  .row {
    padding: 50px 0;
  }
  /* header*/
  #header {
    padding: 15px;
    height: 80px;
  }
  .header-logo {
    width: 150px;
  }
  .header-container {
    display: none;
  }
  .container.mobile-header-container {
    display: block;
  }

  #hero {
    height: auto;
    position: relative;
    padding: 0 0 0px 0;
    margin-top: 110px;
    overflow: hidden;
    background-size: contain;
    background-position-x: 50vw;
  }
  /*typography*/
  h1 {
    font: normal normal bold 40px/49px ITC Avant Garde Gothic Pro;
  }
  p {
    font: normal normal normal 18px/35px Open Sans;
  }
  a.link {
    font: normal normal 600 17px/24px Open Sans;
  }
  h3.tagline {
    font: normal normal 600 12px/68px Open Sans;
  }
  .content {
    padding-right: 0;
  }
  .vertical-nav ul li a {
    font: normal normal 600 18px/40px Open Sans;
  }

  /* Swipers */
  #work-swiper,
  #cstudies-swiper {
    max-width: calc(100vw - 2em);
  }
  .work-swiper-filter ul li {
    font: normal normal normal 18px/25px Open Sans;
    width: auto;
    padding: 20px;
  }
  #cstudies-swiper .slide-wrapper img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    float: unset;
  }
  #cstudies-swiper .swiper-slide.swiper-slide-prev img {
    float: unset;
  }
  #cstudies-swiper .slide-text {
    position: relative;
    display: block;
    height: 50%;
    width: auto;
    z-index: 0;
    top: unset;
    transform: unset;
  }
  #cstudies-swiper .swiper-navigation-wrapper {
    height: 100%;
    width: calc(100% / 1.5 - 9px);
    bottom: 0;
    transform: translate(-50%, 52px);
  }

  #footer .column40 {
    flex: 100%;
  }
  .footer-bottom {
    padding: 25px 0;
    justify-content: center;
  }
  .footer-bottom p {
    font: normal normal 600 16px/24px Open Sans;
  }
}

/* Mobile */
@media screen and (max-width: 425px) {
  .column50 {
    flex: 100%;
  }
  #hero {
    background-size: 100% auto;
    background-position-x: 0;
    background-position-y: 0;
  }
  .hero-content {
    margin-top: calc(100% + 50px);
  }
  #header {
    padding: 15px 0;
  }
}
